body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.welcome {
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    z-index: 1;
    background-color: #000000;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
}
.welcome-text {
    position: absolute;
    text-align: center;
    top: 20%;
    left: 20%;
}

.welcome::before {
    content: "";
    height: 100vh;
    width: 100%;
    /* display: flex; */
    position: absolute;
    /* top: 0;
    left: 0; */
    z-index: -1;
    background-image: url(../images/Cloud_Climber_Wallpaper_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.header h1 {
    color: snow;
    font-size:150px;
    text-align: center;
    margin: 10px;
}


#navbar {
    overflow:hidden;
    background-color: #A9A9A9;
    z-index: 10;
}

#navbar a {
    float: left;
    display: block;
    color: #ff0000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: gray;
    color: blue;
}

#navbar a.active {
    background-color: #022682;
    color: rgb(255, 255, 255);
}

.content {
    background-color: lightblue;
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.item1 { grid-area: header; }
.item2 { grid-area: left; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.projects {
  display: grid;
  grid-template-areas:
  'header header header header header header'
  'left left main main right right'
  'left left main main right right';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.projects > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 25px;
}

.profile-link {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(116, 120, 177);
    color: white;
    text-align: center;
  }

.about {
    background-color:#A9A9A9;
    text-align: right;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
